@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");

body {
  background-color: black;
}

.navbar.has-logo-above {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  height: 4rem;
}

#navbarBasicExample {
  background-color: #949393;
}

.footer {
  background-color: #949393;
  color: black;
}

#aboutme-conatiner {
  /* display: flex; */
  /* justify-content: center; */
  /* height: fit-content; */
  margin-bottom: 0;
  color: #949393;
}

.about-section {
  /* display: block; */
  /* flex: none; */
  width: 90%;
  align-self: center;
  /* height: fit-content; */
}

.art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}


.justin {
  margin-top: 1.5rem;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.pic-justin {
  border-radius: 22.6em;
  width: 15rem;
  height: 15rem;
}

#aboutme {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

#aboutme-para {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
  color: #949393;
}
