@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");

body {
  background-color: black;
}

.navbar.has-logo-above {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  height: 4rem;
}

.navbar-burger {
  height: 4rem;
}

#navbarBasicExample {
  background-color: #949393;
}

.hero {
  min-height: 55vh;
}

.hero-sec {
  align-items: stretch;
  justify-content: center;
  background-image: url("../img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 49rem;
  opacity: 1.9;
}

.hero-title {
  font-size: 3.5em;
  text-align: center;
  font-family: "Antic Didone", serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
}

.hero-addy {
  width: 100%;
  bottom: 2rem;
  text-align: center;
  font-family: "Antic Didone", serif;
  color: white;
  font-size: 1.6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
}

.js-type-writer > span {
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#section05 {
  padding-top: 100px;
}

#section05 #scroll-span {
  position: absolute;
  left: 50%;
  top: 76%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#aboutme-conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 7rem;
  color: #949393;
}

.about-section {
  display: block;
  flex: none;
  width: 75%;
  align-self: center;
  height: fit-content;
}

.justin {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.owner {
  height: fit-content;
  width: fit-content;
  font-weight: bolder;
}

.pic-justin {
  border-radius: 22.6em;
  width: 10rem;
  height: 10rem;
}

#aboutme {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

#aboutme-para {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
  color: #949393;
}

#gallery-conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 2rem;
  margin-top: 7rem;
  color: #949393;
}

.gallery-section {
  display: block;
  flex: none;
  width: 90%;
  align-self: center;
  height: fit-content;
}

#gallery {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.footer {
  background-color: #949393;
  color: black;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
  background-position-x: right;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 324px;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff
    url("http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif")
    center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot");
  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix")
      format("embedded-opentype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff")
      format("woff"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf")
      format("truetype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick")
      format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.hours-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 3.5rem;
  margin-top: 5.5rem;
  color: #949393;
}

.hours-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  font-size: 1em;
}

#hours {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.date {
  text-align: right;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
  color: #949393;
}

.hour {
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
  color: #949393;
}

#contact-conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 3.5rem;
  margin-top: 5.5rem;
  color: #949393;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  align-self: center;
  height: fit-content;
}

#contact {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.contact {
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  color: #949393;
}

#cell {
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;
  color: #949393;
}

#email {
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;
  color: #949393;
}

#loca {
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;
  color: #949393;
}

.cell-c {
  margin-top: 1rem;
  color: #949393;
}

#instagram {
  height: 2rem;
  width: 2rem;
  margin-right: 1.5rem;
  margin-bottom: 1.3rem;
}

#facebook {
  height: 2rem;
  width: 2rem;
  margin-left: 1.2rem;
  margin-bottom: 1.3rem;
}
