.navbar.has-logo-above {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
  min-height: 55vh;
}

.hero-sec{
  align-items: stretch;
}

.hero-img {
  width: 100%;
  transform: rotate(6deg);
}

.hero-addy{
  width: 100%;
  bottom: 2rem;
  text-align: center;
}