@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");

/* trying to get smooth scroll to work */
/* html {
  scroll-behavior: smooth;
} */

.navbar.has-logo-above {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  min-height: 55vh;
}

.hero-sec {
  align-items: stretch;
  justify-content: center;
  background-image: url("img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 49rem;
  opacity: 1.9;
}

.hero-title {
  font-size: 3.5em;
  text-align: center;
  font-family: "Antic Didone", serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
}

.hero-addy {
  width: 100%;
  bottom: 2rem;
  text-align: center;
  font-family: "Antic Didone", serif;
  color: white;
  font-size: 1.6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
}

.js-type-writer > span {
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#section05 {
  padding-top: 100px;
}

#section05 #scroll-span {
  position: absolute;
  left: 50%;
  top: 76%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#aboutme-conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 3.5rem;
}

.about-section {
  display: block;
  flex: none;
  width: 90%;
  align-self: center;
  height: fit-content;
}

#aboutme {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

#aboutme-para {
  text-align: center;
  font-weight: 200;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
}
